#userform {
    position:absolute;
    width:500px;
    height:500px;
    left:450px;
    border:1px solid white;
    top:155px;
    background-color:white;
    opacity:0.8;
}

#chat {
    position: absolute;
    width:300px;
    height:200px;
    left:0px;
    top:0px;
    z-index:9999999;
}