#userform {
    position:absolute;
    width:500px;
    height:500px;
    left:450px;
    border:1px solid white;
    top:155px;
    background-color:white;
    opacity:0.8;
}

#chat {
    position: absolute;
    width:300px;
    height:200px;
    left:10px;
    top:10px;
    z-index:9999999;
}

#messages {
    width:300px;
    padding:2px;
    height:200px;
    border:1px solid white;
    border-radius:5px;
    margin-bottom:5px;

    font-face: Arial;
    font-size: 11px;
}

#message {
    width:240px;
    margin:0;
}

#sendMessage {
    width:50px;
    margin:0;
}