body {
    font-family: Arial;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#userform {
    position:absolute;
    width:600px;
    height:500px;
    left:50%;
    margin-left:-300px;
    border:1px solid white;
    top:155px;
    background-color:white;
    padding: 10px;
    border-radius:10px;
}

#googleMap {
    border-radius:5px;
}

#userSubmit {
    width:100%;
    height:30px;
    background-color:green;
    border:1px solid black;
    border-radius:5px;
    color:white;
    margin-top: 15px;
}

#userSubmit:hover {
 cursor:pointer;
}

#chat {
    position: absolute;
    width:300px;
    height:100%;
    z-index:9999999;
    display:none;
    border-right:1px solid white;
    border-radius:5px;
}

#messages {
    width:auto;
    padding:10px;
    height:95%;
    background-color:white;

    font-size: 18px;
    overflow:auto;

    background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#messages div {
    border-bottom: 1px solid #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

#message {
    background-color: grey;
    border: 1px solid white;
    border-radius: 5px;
    color:white;
    margin-left:10px;
    width: 220px;
}

#sendMessage {
    width:50px;
    background-color: grey;
    border: 1px solid white;
    border-radius: 5px;
    color:white;
}

#colorpicker {
    width:100px;
}

#googleMap {
    width:100%;
    height:425px;
}